.present__position {
  position: relative;
}

.present__wrapper {
  display: flex;
  justify-content: space-between;
}

.present__ads {
  display: flex;
  max-width: 400px;
  flex-direction: column;
  justify-content: space-evenly;
}

.present__box {
  display: flex;
  gap: 40px;
}

.present__text {
  font-size: 30px;
  line-height: 34px;
  color: #FFFFFF;
  align-self: end;
  text-align: center;
}

.present__text1 {
  display: block;
  font-weight: 900;
  font-size: 100px;
  line-height: 141px;
  color: #CD06FF;
}

.present__text2 {
  display: block;
  font-weight: 900;
  font-size: 75px;
  line-height: 106px;
  font-variant: all-small-caps;
  color: #CD06FF;
}

.button--present {
  max-width: 375px;
  font-size: 26px;
  padding: 25px 70px;
  background: #6C0287;
  border: none;
  border-radius: 10px;
}

.button--present:hover {
  background: #840AA3;
}

.button--present:focus {
  background: #840AA3;
}

.button--present:active {
  background: #640AA3;
}

.present__img {
  max-width: 675px;
}

.present__down {
  position: absolute;
  right: 46%;
  bottom: 90px;
}

.present__down::after {
  content: "";
  display: inline-block;
  width: 97px;
  height: 97px;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
}

.present__down:focus::after {
  border: 1px solid #CD06FF;
  border-radius: 0;
}

.present__down:active::after {
  border: 0;
}

.present__down--box {
  position: absolute;
}

.present__down--box::after {
  content: "";
  display: inline-block;
  width: 97px;
  height: 97px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
}

.present__down--box:hover::after {
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
}

.present__down--box:focus::after {
  border: 1px solid #CD06FF;
}

.present__down--box:active::after {
  background: #CD06FF;
  border: 1px solid #CD06FF
}

.present__down--svg {
  position: absolute;
  right: 35%;
  top: 30px;
  color: #FFFFFF;
}

.present__down--svg:hover {
  color: #6C0287;
}

.present__down--svg:focus {
  color: #FFFFFF;
}

.present__down--svg:active {
  color: #FFFFFF;
}